body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace; 
    
}
.container {
    background-image: url(src/44780.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.basket {  
   position: absolute;
   background-image: url(src/basket.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
   transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
   top: 2%;
   right: 2%;
   
   width: 12%;
   height: 12%;
   cursor: grab;
   display: none;
}
.basketContent {
  position: absolute;
  top:2%;
  right: 2%;
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
  border: 2px solid #7a3c06;
  background-color: tan;
  width: 65%;
  height: 11.5%;
  display: none;
  font-weight: bold;
  border-radius: 10px;
  background-size: contain;
  cursor: pointer;
  }

.topBasket {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
  }
.bottomBasket {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
  }

.signBoard {
    position: absolute;
    background-image: url(src/playSignBoard4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 85%;
    height: 35%;
    top:12%;
    left: 2%;

}
.signBoardBlank {
    position: sticky;
    width: 85%;
    height: 35%;
    top:14%;
    left: 2%;
   min-width: 400px;
   min-height: 200px;
   background-image: url(src/blankSignBoard2.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   
   margin: 0;
   display: none;
 }

.signBoardText {
    text-align: center;
     font-size: 20px;
     font-weight: bold;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }

.idBook {
    position: fixed;
    background-image: url(src/idBook.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 13%;
    height: 12%;
    right: 1%;
    top: 70%;
    cursor: pointer;
    display: none;
}
.page {
    position: absolute;
    bottom: 1%;
    right: 2%;
    width: 60%; /* Adjust the expanded width as needed */
    height: 60%;
    transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
    background-image: url(src/idBookPage2.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
  }

.playButton {
    position: absolute;
    width: 20%;
    height: 20%;
     /* Set a minimum height for the button */
     /* Let the height adjust based on content */
    left: 60%;
    top: 60%;
    background-image: url(src/playButton.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    
    transition: transform 0.3s ease;
    cursor: pointer;
}

.endButton {
    position: absolute;
    top: 5%; /* Adjust as needed */
    left: 5%;
    background-image: url(src/endButton.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 10%;
    height: 9%;
    cursor: pointer;
    display: none;
  }
    
  .resetButton{
    position: absolute;
    display: none;
    width: 20%;
    height: 20%; /* Let the height adjust based on content */
    left: 60%;
    top: 70%;
    background-image: url(src/replayButton.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .gameResults {
    display: none;
     position: absolute;
     width: 60%;
     padding: 10px;
     background-color: tan;
     border: 2px solid #7a3c06;
     border-radius: 10px;
     
     text-align: center;
     background-size: contain;
     background-position: center center;
     background-repeat: no-repeat;
     top: 20%;
     left: 25%;
   }
   .resultsHeader{
    width: 100%;
    height: 15px;
    text-align: center;
    font-size: 5px;
  }

   .field {
    display: none;
     position: absolute;
    width: calc(95% - 25%);
    height: 35vh;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    margin: auto;
    cursor: pointer;
  }

  @media screen and (max-width: 680px) {
    .rotate90 {
        transform: rotate(90deg);
        transform-origin: center;
        width: 100vh; /* Use viewport height to fill the screen horizontally */
        height: 100vw; /* Use viewport width to fill the screen vertically */
       /* background-size: contain;
        background-position: center bottom;*/
    }
    .gameResults {
      top: 35%;
    }

    .resetButton {
      left: unset;
      top: unset;
      bottom: -50px;
      right: 10px;
    }
  }