body {
    margin: 0;
    padding: 0;
    
  }
  
  #one {
    background-image: url(44780.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: 2px solid black;
    padding: 0;
  }
  
  #basket {
    position: absolute;
    top: 10px; /* Adjust the top distance as needed */
    right: 8%; /* Adjust the right distance as needed */
    width: 120px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-image: url('basket.png');
    background-size: contain;
    cursor:pointer;
    background-position: center center;
    background-repeat: no-repeat;
    transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
    border: none; /* Add border if desired */
    cursor: pointer;
    display: none;
  }
  
  #basketContent {
    position: absolute;
    top:2%;
    right: 8%;
    transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
    border: 2px solid #7a3c06;
    background-color: tan;
    width: 430px;
    height: 100px;
    display: none;
    font-weight: bold;
    border-radius: 10px;
  }
  
  #topBasket {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
  }
  #bottomBasket {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
  }
  
  
  
  
  
  #signBoard {
    position: absolute;
    width: 50%; /* Set a fixed width for the signBoard as a percentage of the viewport width */
    height: 25vh; /* Set a fixed height for the signBoard */
    min-width: 400px; /* Set a minimum width for the signBoard */
    min-height: 200px; /* Set a minimum height for the signBoard */
    background-image: url('playSignBoard4.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    top: 20px;
    left: 25%;
    margin: 0px;
  }
  
  #signBoardBlank {
     position: absolute;
    width: 50%;
    height: 25vh;
    min-width: 400px;
    min-height: 200px;
    background-image: url('blankSignBoard2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    top: 20px;
    left: 25%;
    margin: 0;
    display: none;
  }
  
  
  
  #signBoardText {
   text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #idBook {
    position: absolute;
    top: 45%; /* Adjust the top distance as needed */
    right: 8%; /* Adjust the right distance as needed */
    width: 120px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-image: url('idBook.png');
    background-size: contain;
    cursor:pointer;
    background-position: center center;
    background-repeat: no-repeat;
    transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
    border: none; /* Add border if desired */
    cursor: pointer;
    display: none;
  }
  #page {
    position: absolute;
    top: -300px;
    right: 10px;
    width: 800px; /* Adjust the expanded width as needed */
    height: 700px;
    transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
    background-image: url('idBookPage2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    
    display: none;
  }
  
  
  #playButton{
    position: absolute;
    width: 15%;
    min-height: 5vh; /* Set a minimum height for the button */
    height: auto; /* Let the height adjust based on content */
    left: 60%;
    top: 75%;
    background-color: blue;
    border: 8px solid darkblue;
    color: lightblue;
    font-weight: bold;
    font-size: 2vw;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  #endButton {
    position: absolute;
    top: 8%; /* Adjust as needed */
    left: 3%;
    background-color: #FFBd43;
    border: 2px #FFa500 solid;
    border-radius: 5px;
    color: #FF8000;
    width: 5%;
    height: auto;
    min-height: 4vh;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: none;
  }
  
  #resetButton{
    position: absolute;
    display: none;
    width: 15%;
    min-height: 5vh; /* Set a minimum height for the button */
    height: auto; /* Let the height adjust based on content */
    left: 80%;
    top: 75%;
    background-color: blue;
    border: 8px solid darkblue;
    color: lightblue;
    font-weight: bold;
    font-size: 2vw;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  #gameResults {
   display: none;
    position: absolute;
    width: 50%;
    height: 30%;
    background-color: tan;
    border: 2px solid #7a3c06;
    border-radius: 10px;
    
    text-align: center;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    top: 10%;
    left: 25%;
  }
  
  resultsHeader{
    width: 100%;
    height: 15px;
    text-align: center;
  }
  
  
  #field {
    display: none;
     position: absolute;
    width: calc(95% - 25%);
    height: 35vh;
    
    bottom: 0;
    left: 0;
    opacity: 0.2;
    margin: auto;
    cursor: pointer;
  }
  
  /* Add a media query for smaller screen sizes */
  @media screen and (max-width: 600px) {
    #playButton {
      width: 30%; /* Adjusted width for smaller screens */
      font-size: 4vw; /* Adjusted font size for smaller screens */
    }
  }
  
  @media screen and (max-width: 600px) {
    #signBoard {
      width: 70%; /* Adjust width for smaller screens */
      height: 35vh; /* Adjust height for smaller screens */
      min-width: 300px; /* Adjust minimum width for smaller screens */
      min-height: 150px; /* Adjust minimum height for smaller screens */
    }
  }
  
  @media screen and (max-width: 600px) {
    #gameResults {
      width: 80%; /* Adjusted width for smaller screens */
      height: 80%; /* Adjusted height for smaller screens */
      top: 10%; /* Adjusted top position for smaller screens */
    }
  }
  
  /* Adjustments for smaller screens */
  @media screen and (max-width: 600px) {
    #endButton {
      width: 10%; /* Adjusted width for smaller screens */
      font-size: 2vw; /* Adjusted font size for smaller screens */
      top: 5%; /* Adjusted top position for smaller screens */
    }
  }